In [1]:
# Import required libraries
import pandas as pd
import numpy as np  

# import csv dataset as pandas dataframe
df = pd.read_csv("../data/standard.csv", sep=',')

In [2]:
df1 = df.iloc[:,1:14]
df1.head()

,goodDay1,goodDay2,program,MLcourse,IRcourse,StatsCourse,DBcourse,choco_op,gender,stand,bedtime,neighbors,randomNum
0,productivity,sleep,QRM,no,no,yes,no,neither,male,no,1.0,300.0,7.0
1,other,other,CS,no,no,unknown,yes,no idea,male,yes,NaN,100.0,394749.0
2,food,sport,BA,yes,yes,no,yes,neither,male,no,23.0,5.0,6.0
3,other,other,BA,yes,yes,yes,yes,no idea,male,no,0.2,2.0,8.0
4,sleep,social,BDE,no,no,no,yes,no idea,male,no,0.0,6.0,8.0

In [3]:
to_encode = df1.iloc[:, 0:10]
to_encode.head()

,goodDay1,goodDay2,program,MLcourse,IRcourse,StatsCourse,DBcourse,choco_op,gender,stand
0,productivity,sleep,QRM,no,no,yes,no,neither,male,no
1,other,other,CS,no,no,unknown,yes,no idea,male,yes
2,food,sport,BA,yes,yes,no,yes,neither,male,no
3,other,other,BA,yes,yes,yes,yes,no idea,male,no
4,sleep,social,BDE,no,no,no,yes,no idea,male,no

In [4]:
encoded = pd.get_dummies(to_encode, prefix=['goodDay1', 'goodDay2', 'program', 'MLcourse', 'IRcourse', 'StatsCourse', 'DBcourse', 'choco_op', 'gender', 'stand'])
encoded.head()

,goodDay1_coffee,goodDay1_food,goodDay1_media,goodDay1_other,goodDay1_productivity,goodDay1_relaxing,goodDay1_sex,goodDay1_sleep,goodDay1_social,goodDay1_sport,...,choco_op_neither,choco_op_no idea,choco_op_slim,choco_op_unknown,gender_female,gender_male,gender_unknown,stand_no,stand_unknown,stand_yes
0,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
1,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
2,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,1,0,1,0,0
4,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,1,0,1,0,0

In [5]:
encoded['bedtime'] = df1.bedtime.values

In [6]:
encoded['neighbors'] = df1.neighbors.values

In [7]:
encoded['randomNum'] = df1.randomNum.values

In [8]:
encoded.head()

,goodDay1_coffee,goodDay1_food,goodDay1_media,goodDay1_other,goodDay1_productivity,goodDay1_relaxing,goodDay1_sex,goodDay1_sleep,goodDay1_social,goodDay1_sport,...,choco_op_unknown,gender_female,gender_male,gender_unknown,stand_no,stand_unknown,stand_yes,bedtime,neighbors,randomNum
0,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,1,0,0,1.0,300.0,7.0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,1,NaN,100.0,394749.0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,23.0,5.0,6.0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0.2,2.0,8.0
4,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,1,0,0,0.0,6.0,8.0

In [9]:
encoded.to_csv('../data/encoded.csv')