In [10]:
import sklearn.datasets
from sklearn import tree
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import graphviz

In [2]:
test_data = pd.read_csv('test.csv')

In [3]:
original_data = pd.read_csv('train.csv')
titanic_df = pd.read_csv('train.csv')
titanic_df.drop('Name',axis=1,inplace=True)
titanic_df.drop('Ticket',axis=1,inplace=True)
titanic_df.drop('Cabin',axis=1,inplace=True)

In [4]:
for i in range(len(titanic_df.iloc[:,3])):
    if titanic_df.iloc[i,3] == 'male':
        titanic_df.iloc[i,3] = 0
    elif titanic_df.iloc[i,3] == 'female':
        titanic_df.iloc[i,3] = 1

pd.to_numeric(titanic_df.iloc[:,3])

0      0
1      1
2      1
3      1
4      0
5      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     1
15     1
16     0
17     0
18     1
19     1
20     0
21     0
22     1
23     0
24     1
25     1
26     0
27     0
28     1
29     0
      ..
861    0
862    1
863    1
864    0
865    1
866    1
867    0
868    0
869    0
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    1
881    0
882    1
883    0
884    0
885    1
886    0
887    1
888    1
889    0
890    0
Name: Sex, Length: 891, dtype: int64

In [5]:
for i in range(len(titanic_df.iloc[:,8])):
    if titanic_df.iloc[i,8] == 'S':
        titanic_df.iloc[i,8] = 0
    elif titanic_df.iloc[i,8] == 'C':
        titanic_df.iloc[i,8] = 1
    elif titanic_df.iloc[i,8] == 'Q':
        titanic_df.iloc[i,8] = 2
    else:
        titanic_df.iloc[i,8] = 3

pd.to_numeric(titanic_df.iloc[:,8])

0      0
1      1
2      0
3      0
4      0
5      2
6      0
7      0
8      0
9      1
10     0
11     0
12     0
13     0
14     0
15     0
16     2
17     0
18     0
19     1
20     0
21     0
22     2
23     0
24     0
25     0
26     1
27     0
28     2
29     0
      ..
861    0
862    0
863    0
864    0
865    0
866    1
867    0
868    0
869    0
870    0
871    0
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    0
881    0
882    0
883    0
884    0
885    2
886    0
887    0
888    0
889    1
890    2
Name: Embarked, Length: 891, dtype: int64

In [6]:
X = titanic_df.loc[:,['Pclass','Sex','Embarked']]
X = X.values
X = np.array(X,dtype='float')
y = titanic_df.loc[:,'Survived']
y = y.values

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=0)

In [20]:
skdb = sklearn.datasets.base.Bunch(data=X_train, target=y_train)
skdb.target_names = np.array(['Died', 'Survived'])
skdb.feature_names = np.array(['Pclass', 'Sex', 'Embarked'])

In [21]:
X1 = skdb.data
y1 = skdb.target

In [22]:
atree = tree.DecisionTreeClassifier()
atree.fit(X1, y1)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [23]:
dot_data = tree.export_graphviz(atree, out_file=None, 
                         feature_names=skdb.feature_names,  
                         class_names=skdb.target_names,  
                         filled=True, rounded=True,  
                         special_characters=True)  
graph = graphviz.Source(dot_data)

In [24]:
graph.render('Titanic_tree')

'Titanic_tree.pdf'